<h2>Make Your Puppy a Part of Our Family!</h2>

<form method="post" action="/puppies">
    <p>Name: <input type="text" name="name"></p>
    <p>Breed: <input type="text" name="breed"></p>

    <input type="submit" value="Join the Fam!">
</form>